<! DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        </meta>
        <title>我的首頁</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    </head>

    <body>
        <script type="text/javascript">
            $(document).ready(function () {
                namespace = '/index'
                var socket = io.connect("http://localhost:8081" + namespace, {
                    extraHeaders: {
                        Authorization: localStorage.getItem('jwt')
                    },
                    transportOptions: {
                        polling: {
                            extraHeaders: {
                                Authorization: localStorage.getItem('jwt')
                            }
                        }
                    }
                });

                socket.on('connect', function () {
                    socket.send("User connected!");
                });

                socket.on('message', function (data) {
                    $('#messages').append($('<p>').text(data));
                });


                $('#sendBtn').on('click', function () {
                    socket.send($('#username').val() + ': ' + $('#message').val());
                    $('#message').val('');
                });

                $('form#disconnect').submit(function (event) {
                    socket.emit('disconnect.request');
                    return false;
                });

            })
        </script>





        <div id="messages"></div>

        <input type="text" id="username" placeholder="Username">
        <input type="text" id="message" placeholder="Message">
        <button id="sendBtn">Send</button>
        <br /><br />
        <form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
        </form>



    </body>

    </html>